body, header{
    margin:0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: Raleway, veranda, sans-serif; 
}

/* background image */
body{
    background-image: url('https://img.freepik.com/premium-vector/background-beige-gradient-vector_686681-34.jpg?w=900');
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}


                /***** NAVBAR *****/

.navbar a{
    padding: 15px;
    color:black;
    text-decoration: none;
}

.navbar a:hover{
    background-color:rgb(48, 38, 29);
    color: white;
}

/* .navbar{
    position: fixed;
} */

/* .navbar a:link, a:visited{
    color:black;
    text-decoration: none;
} */


                /***** HOME PAGE *****/
.content{
    color:rgb(72, 69, 69);
}

#indexcontainer{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}

#indexcontainer .row{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-around;
}

#indexcontainer .col-2{
    padding-left:30px;
    min-width: 300px;
}

#indtext{
    margin-top:90px;
}

#indeximage{
    float:right;
    padding-top:30px;
    padding-right:20px;
}

/* for links in footer of home page */
#indfooter a{
    color: black;
    text-decoration:none;
}

#indfooter li{
    list-style-type: none;
}


#indfooter a:hover{
    font-weight: bold;
}


                /***** LOG IN & REGISTER PAGE *****/

/* overall */
.login{
    padding: 20px 30px 30px 30px;
    background-color:rgba(23, 21, 19, .1);
    color:rgb(74, 70, 70);
    opacity:1;
    text-align: center;
}

#radio{
    padding:8px;
    margin:auto;
    width:50%;
    border: 1px solid #FFF;
}

.login input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
}

button {
  background-color: #908e8a;
  color: rgb(218, 213, 213);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 40%;
  font-size: medium;
}

button:hover {
  opacity: 0.6;
}

/* forgot pw & register details */
#loginoptions{
    font-size: 12px;
    text-decoration: none;
}

.options a:hover{
    color:rgb(32, 31, 31);
}

.options a{
    text-decoration: none;
    color:white;
}


                /***** PRODUCTS PAGE *****/

/* products page spacing */
.part2{
    padding-top: 20px;
}

/* formatting cards in products page */
.card{
    width:90%;
    height:375px;
}

.card-body{
    background: linear-gradient(#FFF, #555);
}

.card-body .btn:focus{
    color:black;
}


                /***** CHECKOUT PAGE *****/

/* overall */
.checko, .content{
    margin:20px;
    padding: 20px 30px 30px 30px;
    background-color:rgba(23, 21, 19, .1);
    color:rgb(74, 70, 70);
    opacity:1;
}

/* payment section */
.checko input[type=text]{
    width:105%;
    border: 1px solid #ccc;
}

input::placeholder{
    font-size:12px;
}

.checko h3{
    padding:10px;
}

.checko h6{
    padding-top:20px;
}

/* cart table */
table{
    margin-top:20px;
    width:100%;
}

th{
    padding-top:8px;
    font-weight: normal;
}

tr img{
    width:80px;
}

td{
    font-size:14px;
}
